config.h.in~
autom4te.cache/
.deps/
Makefile
config.h
config.log
config.status
icons/Makefile
stamp-h1
wmforecast
wmforecast.o
wmforecast-*.tar.gz
missing
compile
icons/Makefile.in
configure
aclocal.m4
Makefile.in
wmforecast.1
INSTALL
config.h.in
depcomp
install-sh
