[Desktop Entry]
Type=Application
Name=wmforecast
Comment=A weather dockapp for Window Maker using the Yahoo Weather API
Exec=wmforecast
Icon=wmforecast
Categories=Education;Science;Geoscience;
Keywords=weather;dockapp;window maker;