Source: wmforecast
Section: utils
Priority: extra
Maintainer: Doug Torrance <dtorrance@piedmont.edu>
Build-Depends: debhelper (>= 9),
               help2man,
               libcurl4-gnutls-dev,
               libwings-dev,
               libxml2-dev
Standards-Version: 3.9.6
Homepage: https://github.com/d-torrance/wmforecast
Vcs-Browser: https://github.com/d-torrance/wmforecast
Vcs-Git: https://github.com/d-torrance/wmforecast.git

Package: wmforecast
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: weather dockapp for Window Maker using the Yahoo Weather API
 wmforecast is a weather dockapp for Window Maker. It displays the current
 temperature and an icon representing the current conditions.  A balloon
 tooltip displays forecast information.  The weather information comes from
 the Yahoo Weather API.
